body{
    text-align:center;
    }

header h1{
    font-size: 3vh;
    }

nav{
    background-color:rgb(111, 34, 199);
    overflow: hidden;
    height:10vh;
    width:99vw;
   }

li {
    
    display: inline;
    text-align: center;
    font-size: 2vh;
    list-style-type: none;
   }

 a {
    display: block;
    float: left;
    color: black;
    padding: 2vh 10vw;
    text-decoration: none;
   }
li a:hover {
    background-color: rgb(75, 6, 88);
    color: white;
   }
.active::after{
    background-color: blue;
   }

   .bodystartsida{
    background-image: url(https://s1.1zoom.me/big0/820/429210-Kycb.jpg);
    background-repeat: no-repeat;
    background-size:100vw 100vh;
  }
  .box {
    width: 10vw;
    border:1vh solid black;
    margin:auto;
    background-color:white;
    padding:6vh;

  }